body {
    font-family: Arial, sans-serif;
    /* font-family: Arial, sans-serif;
    font-family: Arial, sans-serif; */
}

h1 {
    color: #007bff;
    box-sizing: border-box;
}

/* 


big comment 



*/

/* div{
    background-color: black;
} */